.card {
  width: 100%;
  text-align: left;

  padding: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  background: white;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card__title {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

.card--clickable {
  cursor: pointer;
}

.card--clickable:hover {
  background: #f7f9ff;
}