.letsGoPage {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.letsGoScreen {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr auto auto 1fr;
  box-shadow: 0 18px 50px rgba(0, 0, 0, 0.12);
}

.letsGoPage.isNewbie .letsGoScreen {
  background: #bfe3ff;
}

.letsGoPage.isLocal .letsGoScreen {
  background: #2f5fd3;
}

.letsGoTitle {
  justify-self: center;
  align-self: end;
  font-size: 96px;
  letter-spacing: 0.02em;
  margin: 0;
  text-align: center;
}

.letsGoPage.isNewbie .letsGoTitle {
  color: #0b0b0b; 
}

.letsGoPage.isLocal .letsGoTitle {
  color: #ffffff;
}

.letsGoSubtitle {
  justify-self: center;
  align-self: start;
  text-align: center;
  font-size: 16px;
  line-height: 1.35;
  margin-top: 18px;
  opacity: 0.9;
}

.letsGoPage.isNewbie .letsGoSubtitle {
  color: #0b0b0b;
}

.letsGoPage.isLocal .letsGoSubtitle {
  color: #ffffff;
}

.letsGoCta {
  justify-self: center;
  align-self: center;
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 22px;
}

.letsGoPage .primaryButton {
  width: 60%;
  max-width: 320px;
  margin: 24px auto 0;
}


